# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

# ===============================
# Virtual Environments
# ===============================
.venv/
venv/
env/
ENV/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VS Code
# ===============================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# AWS / Cloud
# ===============================
.aws/
*.pem
*.key

# ===============================
# Local Data (NOT S3)
# ===============================
data/
raw_data/
processed_data/
curated_data/

# ===============================
# Glue / Lambda artifacts
# ===============================
glue_packages/
lambda_package/
*.zip

# ===============================
# ML artifacts
# ===============================
ml/models/*.pkl
ml/models/*.joblib
ml/models/*.onnx

# ===============================
# Terraform
# ===============================
**/.terraform/*
*.tfstate
*.tfstate.*

# ===============================
# Logs
# ===============================
*.log
